* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

#hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(donation4.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;

}

.hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-align: center;
}

p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: white;
    background-color: rgb(52, 156, 156);
    padding: 1.5rem 2rem;
    border-radius: 30px;
    font-size: 2rem;
}

.second-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(8, 8, 8);
    font-size: 3rem;
    text-align: center;
    margin-top: 15rem;
}

.box {
    display: flex;
    box-shadow: 5px 5px 10px gray;
    text-align: center;
}